/*** PROFILE ***/
.profile{
   max-height: 700px;
   margin-top: 80px;
   padding: 20px 0 60px;
   background-image: url('../assets/img/DivBkgLight.webp');
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
.profile__wrapp{
   height: 100%;
   display: grid;
   grid-template-columns: 70% 1fr;
}
.profile__cartoon{
   overflow: hidden;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   transition: all .5s ease;
}
.profile__cartoon img{
   height: 450px;
   position: absolute;
   top: 50%;
   left: 50%;
   opacity: 1;
   transform: translate(-50%, -50%);
   transition: opacity .5s ease;
}
.profile__cartoon img:nth-of-type(1){
   opacity: 0;
}
.profile__cartoon:hover img:nth-of-type(1){
   opacity: 1;
}
.profile__cartoon:hover img:nth-of-type(2){
   opacity: 0;
}
.profile__cartoon p{
   font-size: 3rem;
   color: transparent;
   -webkit-text-stroke: 1px var(--primary-color);
}
.profile__cartoon h2{
   font-size: 10rem;
   color: transparent;
}
.profile__cartoon p i{
   margin: 0px 20px;
}
.profile__proyects{
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color .5s ease;
}
.profile__proyects:hover{
   background-color: var(--primary-color-rgba);
}
.profile__proyects > div > h2{
   text-align: right;
   font-size: 2rem;
}
.profile__proyects > div a h2{
   text-align: left;
}
.profile__proyects div a{
   width: 95%;
   position: relative;
   overflow: hidden;
}
.profile__proyects div a h2{
   position: relative;
   z-index: 2;
}
.profile__proyects div a img{
   position: absolute;
   top: -100%;
   left: 15%;
   width: 100%;
   opacity: 0;
   z-index: 1;
}
.profile__proyects div a:hover img{
   opacity: .3;
   animation: spin 6s linear infinite;
}
.profile__proyects div a:nth-of-type(1):hover{
   background-color: var(--html-color);
}
.profile__proyects div a:nth-of-type(2):hover,
.profile__proyects div a:nth-of-type(5):hover{
   background-color: var(--css-color);
}
.profile__proyects div a:nth-of-type(3):hover,
.profile__proyects div a:nth-of-type(6):hover{
   background-color: var(--js-color);
}
.profile__proyects div a:nth-of-type(4):hover{
   background-color: var(--il-color);
}



/*** TECH ***/
.tech{
   margin-top: -25px;
   padding: 10px 0 80px 0;
   clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 95%);
   background-image: url('../assets/img/DivBkgDark.webp');
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
.tech__wrapp{
   width: 80%;
   margin: auto;
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}
.tech__wrapp div{
   display: flex;
   justify-content: center;
}
.tech__wrapp img{
   height: 150px;
   margin: 20px;
   transform-style: preserve-3d;
   animation: fly 2s ease-in-out infinite;
}
.tech__wrapp div:nth-of-type(2) img,
.tech__wrapp div:nth-of-type(6) img{
   animation-delay: .3s;
}
.tech__wrapp div:nth-of-type(3) img,
.tech__wrapp div:nth-of-type(7) img{
   animation-delay: .7s;
}
.tech__wrapp div:nth-of-type(4) img,
.tech__wrapp div:nth-of-type(8) img{
   animation-delay: 1.1s;
}
.tech__wrapp div:nth-of-type(5) img,
.tech__wrapp div:nth-of-type(9) img{
   animation-delay: 1.5s;
}
.tech__sw{
   width: 80%;
   margin: auto;
   text-align: center;
}



/*** JOBS ***/
.jobs{
   margin-top: -35px;
   padding: 20px 0 100px 0;
   background-image: url('../assets/img/DivBkgLight.webp');
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
.jobs__wrapp{
   width: 80%;
   margin: auto;
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.job{
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: background-color .5s ease;
}
.job .title{
   display: flex;
   width: fit-content;
   padding: 5px 20px;
   border: 2px solid var(--primary-color);
   border-radius: 30px;
}
.job p,
.job li,
.job b{
   font-size: 1rem;
}
.job li{
   list-style: disc;
   margin-left: 20px;
}
.job:hover{
   animation: rebound .3s ease;
   color: var(--secondary-color);
   background-color: var(--primary-color-rgba);
}
.job:hover h2{
   width: fit-content;
   animation: rotate 2s linear infinite;
}




/*** COURSES ***/
.courses{
   margin-top: -30px;
   padding: 10px 0 50px 0;
   clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
   background-image: url('../assets/img/DivBkgDark.webp');
   background-position: center;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.courses__wrapp{
   width: 80%;
   margin: auto;
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.course{
   color: var(--secondary-color);
   text-align: center;
   background-color: var(--secondary-color-rgba);
   transition: background-color .3s ease;
}
.course img{
   height: 60px;
}
.course a{
   background-color: var(--secondary-color);
   color: var(--primary-color);
}
.course:hover{
   background-color: var(--secondary-color-rgba);
}
.course:hover img{
   animation: ring .5s linear infinite;
}
