.icons__wrapp{
   width: 80%;
   margin: auto;
   margin: 100px auto;
}
.icons__section-logo{
   height: 250px;
   display: block;
   margin: auto;
}
.icons__list{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(100px, auto));
}
.icons__list li{
   height: 100px;
   font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.ilustrations__list{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 20%));
   gap: 20px;
   justify-content: center;
}
.icons__wrapp a{
   display: block;
   width: 200px;
   margin: 20px auto;
   text-align: center;
}