body{
   width: 80vw;
   margin: auto;
   text-align: center;
}
summary,
input,
button,
legend{
   font-size: 1.15rem;
   font-family: 'text';
}
summary{
   text-transform: uppercase;
   font-size: 1.25rem;
   cursor: pointer;
}
fieldset{
   margin: 10px auto;
   padding: 0 10px 10px;
   width: 80%;
   border-radius: 5px;
   border-color: var(--primary-color);
}
legend{
   padding: 0 5px;
   font-size: .9rem;
   text-transform: uppercase;
}
input{
   text-align: center;
}
input:focus-visible{
   outline: none;
}



/*** JS ***/
.js{
   margin: 100px 0 60px;
}
.js > h2{
   font-size: 5rem;
   color: var(--js-color);
}
.js__wrapp{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 70%));
   justify-content: center;
}
.js__details{
   background-color: var(--js-color);
}
.js__details summary{
   text-align: left;
}
.js__colores .lienzo{
   width: 200px;
   height: 100px;
   margin: 10px auto;
   background-color: white;
}
.js__twitter .msj{
   width: 80%;
}
.view{
   animation: view 1.5s ease;
}
@keyframes view {
   from{opacity: 0;}
   to{opacity: 1;}
}

@media(max-width: 768px){
   summary{
      font-size: 1rem;
   }
   .js > h2{
      font-size: 3rem;
      color: var(--js-color);
   }
}