body{
   width: 80vw;
   margin: auto;
   text-align: center;
}
summary,
input,
button{
   font-size: 1.15rem;
   font-family: 'text';
}
summary{
   font-size: 1.25rem;
}
input{
   text-align: center;
}



/*** JS ***/
.js{
   margin-top: 100px;
}
.js > h2{
   font-size: 5rem;
   color: var(--js-color);
}
.js__details{
   background-color: var(--js-color);
}
.js__details summary{
   text-align: left;
}