/*** PROFILE ***/
.profile{
   display: inline-table;
   margin-top: 0;
}
.profile__wrapp{
   grid-template-columns: 1fr;
   margin-top: 75px;
}
.profile__cartoon{
   margin-top: 20px;
}
.profile__cartoon img{
   height: 300px;
}



/*** TECH ***/
.tech__wrapp img{
   height: 45px;
}
.tech__sw h2{
   font-size: 2rem;
}



/*** JOBS ***/
.job{
   margin-left: 0;
}
.job h2{
   font-size: 2rem;
}
.job p,
.job b{
   font-size: .7rem;
}


/*** COURSES ***/
.courses__wrapp{
   grid-template-columns: 1fr;
}