/*** WEBS ***/
.webs > img{
   display: block;
   margin: 20px auto;
   height: 70px;
}
.web{
   display: grid;
   grid-template-columns: 55% 1fr;
   align-items: center;
}
.web:nth-of-type(even){
   grid-template-columns: 1fr 55%;
}
.web-img{
   perspective: 500px;
}
.web .web-img img{
   transition: all .3s ease;
   transform: rotateY(0) scale(1);
}
.web:hover .web-img img{
   box-shadow: -25px 0px 20px -15px rgba(0,0,0,0.75);
   transform: rotateY(10deg) scale(.8);
}
.web:nth-of-type(even):hover .web-img img{
   box-shadow: 25px 0px 20px -15px rgba(0,0,0,0.75);
   transform: rotateY(-10deg) scale(.8);
}
.web-detail{
   padding: 20px 40px;
   text-align: center;
}
.web-detail a{
   margin-top: 10px;
   color: var(--primary-color);
}
.web-detail .web-tech{
   display: block;
   width: 200px;
   padding: 5px 0;
   margin: 5px auto;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   border-radius: 30px;
}